<navigation> </navigation>
<!--Rent Item Container-->
<div class="container" >

    <!-- Item heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{item.name}}</h1>
        </div>
    </div><!-- row -->

    <!-- item row -->
    <div class="row">
        <div class="col-md-8">
            <img src="{{item.image1URL}}" alt="Item Image Not Found" class="img-responsive">
        </div>

        <div class="col-md-4">
            <h3>Item description</h3>
            <p>{{item.description}}</p>
            <h3>Item details</h3>
            <h4 style="margin-top:10px; font-size:2.0em; c" >${{item.price}} </h4>
            <h4 style="margin-top:10px; font-size:1.2em;">Availabe: {{item.quantity}} </h4>
            <div style="display: inline-block;">
                    <label style="width:auto;">Quantity</label>
                    <input type="number" class="form-control number-input" min="1" step="1" ng-model="cartQuantity" required />
            </div></br>
            <button ng-click="addToShoppingCart()" class="btn btn-info" style="margin-top: 10px;" >Add To Your Cart</button>
        </div>
    </div><!-- row -->
   
    <div class="col-md-10">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Delivery Estimate</h3>
        </div>
        <div id="map"></div>
    </div>
    </div>

</div>
    <footer id="footer"><!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Online Help</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Order Status</a></li>
                                <li><a href="">Change Location</a></li>
                                <li><a href="">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Laptops</a></li>
                                <li><a href="">Tablets</a></li>
                                <li><a href="">TVs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Terms of Use</a></li>
                                <li><a href="">Privecy Policy</a></li>
                                <li><a href="">Refund Policy</a></li>
                                <li><a href="">Billing System</a></li>
                                <li><a href="">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About ERS</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="">Company Information</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Affillate Program</a></li>
                                <li><a href="">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About ERS</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="submit-btn btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2017 ERS. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a target="_blank">189Team2</a></span></p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->